extends layout
block header
  header.main-header
    div.logo
      img(src=contents.img['logo.png'].url)
    nav.main-nav: ul
      block nav
        each item in menuItems
          li(class=item.class)
            span=item.title
    div.right-side
      div.shopping-icon: i.icon.icon-shopping-cart
      div.lang-selection.menu-title
        span=langs.items[langs.selected]
        ul.lang-list
          each lang in langs.items
            li=lang
